{
  "presets": [
    [
      "@babel/preset-env",
      {
        "debug": true,
        "targets": {
          "node": true
        }
      }
    ],
    "@babel/preset-stage-3",
    "@babel/preset-react",
    "@babel/preset-typescript"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "extensions": [".ts", ".tsx"],
        "root": ["./src/", "./common/"]
      }
    ],
    "@babel/plugin-proposal-decorators",
    [
      "@babel/plugin-proposal-class-properties",
      {
        "loose": true
      }
    ]
  ]
}
