{
  "presets": [
    "latest",
    "stage-0",
    "flow"
  ],
  "plugins": [
    "transform-class-properties",
    "transform-decorators-legacy",
    "transform-object-rest-spread",
    "transform-runtime"
  ]
}
